{% extends 'base.html' %}
{% block body_block %}

<div class="card">
    <h1>{{name}}</h1>
</div>

<div class="card">
    <h2>Terminy zwiedzania</h2>    
    <p>Serdecznie zapraszamy do zwiedzania Muzeum Miniatur i Tradycji Ewangelickiej w Wejsunach, które mieści się w kościele ewangelickim w Wejsunach!</p>
    <p>Muzeum i kościół można zobaczyć w każdą niedzielę przed i po nabożeństwo o godz. 09:00.</p>
    <p>W okresie od 01.07 do 30.09 muzeum i kościół będzie otwarty dla zwiedzających w godzinach:</p>
    <p>Muzeum i kościół jest otwarty: pon. – sob.: 10:00 – 16:00</p>
    <p>Grupy zorganizowane prosimy o kontakt z kancelarią parafialną.</p>
</div>

{% endblock %}